<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a routerLink="/posts" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img style="width: 40px; height: 40px; border-radius: 50%;" src="https://thumbs.dreamstime.com/b/%D0%B3%D0%BB%D0%BE%D0%B1%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D0%B5%D0%B9-%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF-%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D1%8B%D1%85-%D1%87%D0%B5%D1%80%D0%BD%D1%8B%D0%B9-%D0%BD%D0%B0-%D0%B1%D0%B5%D0%BB%D0%BE%D0%B9-143330978.jpg" alt="fortniteLogo">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/posts" class="nav-link px-2 link-secondary">Новости</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Войти</button>
        <button type="button" class="btn btn-primary" routerLink="/register">Зарегистрироваться</button>
      </div>
    </header>
  {{isAuth ? 'test': 'test false'}}
  {{authService.isAuth ? 'test service': 'test service false' }}
  {{authStatusFromServiceSubscribe ? 'test service Subscribe': 'test service Subscribe false' }}
  </div>
